nav {
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
    text-align: center;
    padding-bottom: 150px;
}

nav, header {
    background-color: rgb(255, 197, 91);
}

header {
    padding-top: 20px;
}

.navpictures {
    height: 70px;
    width: 70px;
}

.logopicture {
    height: 150px;
    width: 175px;
}

header, h1, h2, h3 {
    text-align: center;
}

main, footer {
    background-color: lightblue;
}

.rescuepictures {
    height: 300px;
    width: 300px;
}

body {
    margin: 0;
    margin-top: -35px;
    background-color: lightblue;
}

footer {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid black;
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}

li {
    float: left;
    padding: 5px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

main {
    padding: 20px 40px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-size: 25px;
}

a:visited {
    color: purple;
}

.abouttable {
    border-collapse: border;
    width: 80%;
    background-color: #fff;
}

.tourtable {
    width: 75%;
}

.contacttable {
    width: 40%;
}

.homepagetable {
    width: 80%;
}

td {
    border: 1px solid rgb(131, 93, 93);
    background-color: white;
}

th {
    background-color: red;
}